/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
  }

body {
    font-family: Euclid Circular B;
    line-height: 1.5;
    color: white;
    background-color: white;
}

.light_font {
    font-weight: 100;
}

hr {
    border: .5px solid rgba(255,255,255, 0.3);
    width: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: flex-end;
}

.left_nav {
    width: 100px;
    position: fixed;
    border-radius: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-right: 1px solid rgba(255,255,255, 0.3);
    z-index: 2;
}

nav {  
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 35%;
    margin: auto;
}

nav a {
    text-decoration: none;
    writing-mode: vertical-rl;
    margin: auto;
    color: white;
}

/* Header */

.header_container_home {
    height: 100vh;
    padding-left: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header_container_about {
    height: 100vh;
    padding-left: 100px;
    background-color: #FD9967;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-items: right;
    text-align: right;
    flex-basis: content;
    padding-right: 100px;
    padding-top: 100px;
    font-family: ObjectSans-Regular;
    font-weight: 100;
}

header h1 {
    font-size: 95px;
}

#header_period {
    color: turquoise;
}

header h2 {
    font-size: 48px;
}

header h3 {
    font-size: 32px;
}

/* Grid Container */

.workGrid {
    display: grid;
    grid-template-areas:
    'footprint'
    'adult-it';
    grid-gap: 15px;
    padding-right: 100px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects {
    background-color: transparent;
    border: 1px solid black;
    height: 350px;
}

.footprint {
    grid-area: footprint;
}

.adult-it {
    grid-area: adult-it;
}

.heroImg {
    object-fit: scale-down;
}

.header_content_about {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-basis: content;
}

/* Footer */

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

footer p {
    display: inline-block;
    vertical-align: top;
    padding: 25px;

}

/* Mobile Media Query */



@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 20px;
        justify-content: start;
    }
    .header_content {
        padding: inherit;
    }
    .left_nav {
        display: none;
    }
    .workGrid {
        display: grid;
        grid-template-areas:
        'footprint'
        'adult-it';
        grid-gap: 15px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.mobile_nav {
    display:none;
}